<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dl.useless.textbookdust2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".GalleryZoomView" />
        <activity
            android:name=".Gallery"
            android:screenOrientation="locked" />
        <activity
            android:name=".Strategy"
            android:screenOrientation="locked" />
        <activity android:name=".MapOverview" />
        <activity
            android:name=".UtilityView"
            android:screenOrientation="locked" />
        <activity
            android:name=".UtilityMenu"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainMenu"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>